<% provide(:title, "About") %>

<h1>About</h1>
<p>
	The <a href="http://istportal.herokuapp.com"><em>IST Portal</em></a> is an 
	cloud storage application for leadership of the 
	<a href="http://www.istulsa.org"> Islamic Society of Tulsa</a> to store 
	important documents and files.
</p>

