<div class="center jumbotron">
  <h1>IST APortal</h1>

  <h2>
    This is the home page for the
	<a href="http://www.istulsa.org/">Islamic Society of Tulsa</a>
	file portal.
  </h2>

  <%= link_to "Log in now!", '#', class: "btn btn-lg btn-primary" %>
</div>
